<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LabInsta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
       
            <div class="container d-flex justify-content-between">     
                
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index"><i class="bi bi-instagram"><img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" style="width:50px;height:50px;"/></a>
                            </div>
                            <div>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="YourPage"><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" style="width:50px;height:50px;"/></a>
                             </div>
                        }

                         
                        

   @if(User.Identity.IsAuthenticated)

   {
   <div>
       <form method="post" asp-controller="Account" asp-action="LogOff">

           <input type="submit" value="Выход" />

       </form>
       </div>
   }

   else

   {
         <div>
       <a asp-controller="Account" asp-action="Login">Вход</a>
       </div>
         <div>
       <a asp-controller="Account" asp-action="Register">Регистрация</a>
       </div>
   }

                </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
